# Binaries & Archives
*.exe
*.rar
*.zip
*.tar.gz
build/bin/


# Databases & Local Data
*.db
*.db-journal
*.sqlite
*.sqlite3
data/*.db
data/*.sqlite

# Environment variables & Secrets
.env
.env.local
.env.*.local
frontend/.env
frontend/.env.local

# Node / Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/
frontend/package.json.md5
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
.DS_Store
